.mouvement-container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* FORMULAIRE */
.mouvement-form {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.15);
}

.mouvement-form h3 {
  margin-bottom: 15px;
}

.mouvement-form input,
.mouvement-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.btn-valider {
  width: 100%;
  padding: 12px;
  background: #0d6efd;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.btn-valider:hover {
  background: #084298;
}

/* TABLEAU */
.table-mouvements {
  width: 100%;
  border-collapse: collapse;
}

.table-mouvements th,
.table-mouvements td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.entree {
  background: #198754;
  color: white;
  padding: 6px 8px;
  border-radius: 5px;
}

.sortie {
  background: #dc3545;
  color: white;
  padding: 6px 8px;
  border-radius: 5px;
}

.btn-supprimer {
  background: #dc3545;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-supprimer:hover {
  background: #b02a37;
}
