.register-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eef1f4;
}

.register-box {
  background: white;
  padding: 35px 45px;
  width: 380px;
  border-radius: 12px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

.register-box h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #222;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 6px;
}

.input-group input {
  width: 100%;
  padding: 11px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.register-btn {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: #28a745;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.register-btn:hover {
  background: #1e7e34;
}
