.stock-container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Formulaire */
.stock-form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.stock-form h3 {
  margin-bottom: 15px;
}

.stock-form input,
.stock-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.btn-valider {
  width: 100%;
  padding: 12px;
  background: #198754;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.btn-valider:hover {
  background: #146c43;
}

/* TABLEAU */
.table-stock {
  width: 100%;
  border-collapse: collapse;
}

.table-stock th,
.table-stock td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.alerte {
  background: #dc3545;
  color: white;
  padding: 6px 8px;
  border-radius: 5px;
}

.ok {
  background: #198754;
  color: white;
  padding: 6px 8px;
  border-radius: 5px;
}
